@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: black;
  color: white;
}

*{
 overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fade{
  animation: fade 1s ease-in-out;
}

.bringin:nth-child(1) {
  animation: bringin 0.5s ease-in-out, fade 1s ease-in-out;
  height: 80vw;
  width: 35vw;
  transform: scaleY(100%) rotate(-45deg);
}
.bringin:nth-child(2) {
  animation: bringin 0.7s ease-in-out, fade 1.5s ease-in-out;
  height: 80vw;
  width: 35vw;
  transform: scaleY(100%) rotate(-45deg);
}
.bringin:nth-child(3) {
  animation: bringin 0.9s ease-in-out, fade 2s ease-in-out;
  height: 80vw;
  width: 35vw;
  transform: scaleY(100%) rotate(-45deg);
}
.bringin:nth-child(4) {
  animation: bringin 0.9s ease-in-out, fade 2s ease-in-out;
  height: 80vw;
  width: 35vw;
  transform: scaleY(100%) rotate(-45deg);
}


@keyframes bringin {
  0% {
    transform: scaleY(0%) rotate(0deg);
  }
  100% {
    transform: scaleY(100%) rotate(-45deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
